<div id="benefits">
  <h1>Gemador is pleased to offer Members free shipping!</h1>

  <strong>Gemador</strong> is pleased to offer internet customers free shipping for purchases over $99.  For Members, Free Shipping on all items.
  <br/>
  <h4>Insurance and Security</h4>

  <ul>
    <li>All orders are fully insured while in transit.</li>
    <li>For security and insurance purposes, ALL shipments require a signature upon delivery regardless of any signed waivers you may have with any of our carriers.</li>
    <li>Gemador encourages all customers to inspect their packages(s) for damage or tampering prior to receiving and signing their acceptance.</li>
    <li>Because of the nature of the items being shipped, we will only ship to the billing address of the credit card used to place the order.</li>
  </ul>

  <br/>
  <h4>Shipping Times</h4>
  <ul>
    <li>All transit times are determined by the availability of the item(s) on your order. All tentative delivery times will take affect when your package leaves our facility.</li>
    <li>All free shipping is via FedEx 2-day shipping only. All purchases made Friday, Saturday or Sunday will be for a Tuesday delivery only. Thursday purchases will be for a Monday delivery only.</li>
  </ul>

  <br/>
  <h4>Jewelry Garantee</h4>
  <p>Gemador is committed to providing reliable quality and trustworthy expertise with every jewelry purchase.  Our Jewelry guarantee is our promise to stand behind the quality of your purchase and make sure your are completely satisfied with your entire shopping experience.</p>
  <p>The Gemador Jewelry Guarantee provides you with these assurances:</p>
  <ul>
    <li>A 60-day refund or exchange privilege</li>
    <li>
      For 12 months from the date of your purchase:
      <ul>
        <li>We guarantee the mounting for your diamond, natural sapphire, ruby or emerald against all defects in material or workmanship.  We will repair or replace your mounting without charge if any defects are found during this period.</li>
        <li>If your gold or jewelry becomes damaged as a result of manufacturer defect, Gemador will repair of replace the item, at our option, without charge.  Guarantee excludes all damage caused by abuse or normal wear.</li>
      </ul>
    </li>
  </ul>

  <br/>
  <h4>Refund of merchandise credit</h4>
  <p>Returns must be shipped for processing to:</p>
  <address>
    Gemador<br/>
    3100 Far Hills Ave.<br/>
    Dayton OH 45429<br/>
  </address>

</div>