<% content_for(:content_class) {'none'} %>
<div id="benefits">
  <h1>Gemador is pleased to offer Members free shipping!</h1>


  <h4>Insurance and Security</h4>

  <p>All orders are fully insured while in transit.</p>
  <p>For security and insurance purposes. ALL shipments require a signature upon delivery regardless of any signed waivers you may have with any of our carriers
  Gemador encourages all customers to inspect their packages(s) for damage or tampering prior to receiving and signing their acceptance
  Because of the nature of the items being shipped, we will only ship to the billing address of the credit card used to place the order.</p>

  <h4>Shipping Times</h4>

  <p>All transit times are determined by the availability of the item(s) on your order. All tentative delivery times will take affect when your package leaves our facility.</p>
  <p>All free shipping is via FedEx 2-day shipping only. All purchases made Friday, Saturday or Sunday will be for a Tuesday delivery only. Thursday purchases will be for a Monday
  delivery only.</p>
</div>