<div id="contact">
  <h1>Contact Us</h1>

  <h4>By Physical Address</h4>
  <p>
    <%= render 'legal/address' %>
  </p>

  <h4>By Email</h4>
  <p>
    <a href="mailto:support@gemador.com">support@gemador.com</a>
  </p>
</div>