<div id="privacy">
  <h1>Privacy Policy</h1>

  <h4>Introduction</h4>

  <p>
    GEMADOR (“Company”, “we“, “our” or “us”) respects your privacy and is committed to protecting it through our compliance with this policy.  This policy (together with our Terms of Use) describes the personal information that we collect from you or that you provide on this website (our “Website”), whether as a guest or a registered user, and how that information may be used or disclosed by us.
  </p>

  <p>
    This policy does not apply to information we collect through any other means, or to information collected on any other company, affiliate, or third-party site, or by any third-party application that may link to or be accessible from the Website.
  </p>

  <p>
    Please read the following carefully to understand our policies and practices regarding your personal information and how we will treat it. By using or accessing our Website, you agree to this privacy policy. This policy may change from time to time and your continued use of the Website is deemed to be acceptance of such changes, so please check the policy periodically for updates.
  </p>

  <h4>Individuals Under the Age of 18</h4>

  <p>
    Our Website is not intended for children under 18 years of age. No one under age 18 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 18. If you are under 18, please do not register on the Website, make any purchases through the Website or send any information about yourself to us, including your name, address, telephone number or e-mail address. In the event that we learn that we have collected personal information from a child under age 18 without verification of parental consent, we will delete that information. If you believe that we might have any information from or about a child under 18, please contact us at: <a href="mailto:support@gemador.com">support@gemador.com</a>.
  </p>

  <h4>Information We Collect About You</h4>

  <p>
    We collect several types of information from and about users of our Website, including:
    <ul>
      <li>Information you provide to us.</li>
      <li>Information we collect as you navigate through the site, including usage details, IP addresses, and cookies and web beacons.</li>
      <li>Information we receive from third parties, for example, our business partners.</li>
    </ul>
  </p>

  <h4>Information You Provide To Us</h4>

  <p>
    We may collect and use the following information that you provide to us:
    <ul>
      <li>Information that you provide by filling in forms on our Website. This includes information provided at the time of registering to use our Website, subscribing to our service, posting material or requesting further services. We may also ask you for information when you report a problem with our Website.</li>
      <li>Records and copies of your correspondence (including e-mail addresses, text messages, etc.), if you contact us.</li>
      <li>Your responses to surveys that we might ask you to complete for research purposes.</li>
      <li>Details of transactions you carry out through our Website and of the fulfillment of your orders. You may be required to provide financial information before placing an order through our Website.</li>
    </ul>
  </p>

  <h4>Usage Details, IP Addresses and Web Beacons</h4>
  <p>
    Usage Details and IP Addresses:<br/>
    As you navigate through the Website, we may also collect details of your visits to our Website, including, but not limited to, traffic data, location data, logs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access, as well as information about your computer and internet connection, including your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users’ equipment, browsing actions and patterns, and does not identify any individual.<br/>
    Cookies:<br/>
    For the same reason, we may obtain information about your general internet usage by using cookies. A cookie is a small file stored on the hard drive of your computer. Use of cookies help us to improve our Website and to deliver a better and more personalized service by enabling us to:
    <ul>
      <li>Estimate our audience size and usage patterns.</li>
      <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
      <li>Speed up your searches.</li>
      <li>Recognize you when you return to our Website.</li>
    </ul>
    You may refuse to accept cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.<br/>
    Web Beacons:<br/>
    Pages of the Website may contain electronic images known as web beacons (also referred to as single-pixel gifs) that permit the Company to count users who have visited those pages and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity). Web beacons are not used to access your personal information on the Website and are only used to compile aggregated statistics concerning use of the Website.
    Third-Party Advertiser Use of Cookies and Web Beacons:<br/>
    Some advertisements on the Website are served by third-party advertising companies. Please note that our advertisers may also use cookies (alone or in conjunction with web beacons or other tracking technologies) to collect information about our users. We do not have control over third-party advertisers’ cookies or how they may be used. If you have any questions about an advertisement, you should contact the responsible advertiser directly.<br/>
    We do not collect personally identifiable information automatically, but we may tie this information to your previously submitted personally identifiable information.
  </p>

  <h4>User Contributions</h4>
  <p>
    You are responsible for any content, including personal information, that you contribute to be published or displayed (hereinafter, “posted”) on the Website, or transmit to other users of the Website (collectively, “User Contributions”). Your User Contributions are posted on and transmitted to other users of the Website at your own risk. Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Website. You understand and acknowledge that, even after removal, copies of your User Contributions may remain viewable in cached and archived pages, or might have been copied or stored by other Website users.
  </p>

  <h4>Uses Made of the Information</h4>
  <p>
    We use information that we collect about you or that you provide to us, including any personal information, in the following ways:<br/>
    <ul>
      <li>To present our Website and its contents in a suitable and effective manner for you and for your computer.</li>
      <li>To provide you with information, products or services.</li>
      <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.</li>
      <li>To notify you about changes to our service.</li>
      <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>
    </ul>
    We do not disclose your personally identifiable information to our advertisers, but we may provide them with aggregated information about our users. We may also use such aggregated information to help advertisers reach the kind of audience they want to target. We may make use of the personal information we have collected from you to enable us to comply with our advertisers’ wishes by displaying their advertisement to that target audience. Even though we only disclose aggregate information that is not personally-identifiable to advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may assume that you meet the target criteria they selected.
  </p>

  <h4>Disclosure of Your Information</h4>
  <p>
    We may disclose personal information that you provide via this Website to the following third parties:
    <ul>
      <li>Our subsidiaries and affiliates.</li>
      <li>Contractors and service providers we use to support our business.</li>
      <li>In the event of merger, consolidation, acquisition, or purchase of any of the Company’s assets.</li>
    </ul>
    We may also disclose your personal information to third parties to:
    <ul>
      <li>Comply with any court order or other legal obligation.</li>
      <li>Enforce or apply our terms of use.</li>
      <li>Protect the rights, property, or safety of the Company, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
    </ul>
  </p>

  <h4>Data Security</h4>
  <p>
    We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. All information you provide to us is stored on our secure servers behind firewalls. Any payment transactions will be encrypted.
  </p>

  <p>
    The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Website like message boards. The information you share in public areas may be viewed by any user of the Website.
  </p>

  <p>
    Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk.
  </p>

  <h4>Changes to Our Privacy Policy</h4>
  <p>
    It is our policy to post any changes we make to our privacy policy on this page. If we make material changes to this privacy policy, we will make said changes and update the date last modified line at the bottom of the page.  You should review this privacy policy carefully, because if you do not agree with our practices, your ultimate choice is not to use the Website. Remember, by using any part of the Website, you accept and agree to our privacy practices. If we update this privacy policy, your continued use of the Website (following the posting of the revised privacy policy) means that you accept and agree to the terms of the revised privacy policy.
  </p>

  <h4>Contact Information</h4>
  <p>
    If you do not understand any of the foregoing terms of our privacy policy, or if you have any additional questions or comments, please contact: <a href="mailto:support@gemador.com">support@gemador.com</a>.
  </p>

</div>