.container .full.columns {
    width: 1178px;
}
div.main {
    padding: 15px 0;
    display: inline-block;
}
div#top-padding{
    clear: both;
    height: 13px;
    background-color: #FF0000;
}
div#bottom-padding{
    clear: both;
    height: 15px;
    background-color: #FF0000;
}
div#bottom-padding img {
    vertical-align: top;
}
div#home-image a#home {
    width: 560px;
    height: 162px;
    display: inline-block;
}
div#front-header div#home-image {
    background-image: url(/assets/gemador_header.jpg);
    width: 1198px;
    height: 162px;
}
div#header-left{
    /*float: left;*/
    width: 305px;
    margin: 0px;
    background: #c9caca;
}
div#header-left img {
    vertical-align: bottom;
}
div#header-right {
    float: right;
    width: 260px;
    height: 173px;
    margin: 0px;
    background: #a4a4a4;
    color: #d42629;
}
div#header-right div#gradient {
    height: 170px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div#header-middle {
    width: 633px;
    height: 173px;
    margin: 0px;
}
div#nav-header {
    background-color: #c9caca;
    padding: 5px 10px;
    position: relative;
    height: 29px;
    text-align: center;
    text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
    color:#808080;
    font-weight:bold;
}
div#container div#nav-header a:hover {
    text-shadow: #fff 0px 1px 0, #000 0 -1px 0;
    color:#000;
}
div#nav-header a {
    font-size: 14px;
}
div#nav-header p {
    display: inline-block;
    padding: 0 7px;

}
div#header-right p#save {
    font-family: Arial;
    padding: 0 50px;
    text-align: justify;
    margin-top: 3px;
}
div#header-right p#mem-benefits {
    font-family: Arial;
    padding: 0 20px;
    text-align: right;
}
div#header-right p#mem-benefits span {
    float: left;
}
div#header-right ul {
    text-align: center;
}
div#header-right p#save span {

    font-size: 1.3em;
    font-weight: bolder;
}
div#lower-ruler {
    position: relative;
    line-height: 0px;
    z-index: 0;
    clear: both;
}
div#main-content {
    position: relative;
}
div#search {
    padding: 5px;
}
div#my-stuff, div#my-account {
    padding: 0 5px;
}
div#my-stuff {
    float: right;
}
div#my-account {
    text-align: right;
    margin-top: 5px;
}
div#footer-ads {
    float: left;
    width: 100%;
    padding: 20px 0;
}
div#footer-ads div.col {
    float: left;
    width: 25%;
}
div#footer-ads div.mini-ad {
    border-top: 1px solid #d42629;
    margin: 0 15px;
    clear: both;
}
div#footer-ads div.mini-ad img {
    float: left;
}
div#footer-ads div.mini-ad div {
    padding: 20px;
    font-size: 1.2em;
}
div#footer-ads div.col.mini {
    border-bottom: 1px solid #d42629;
}
div#footer-legal {
    border: none;
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
}
.fourteen-half {
    width: 930px;
}
.seven-half {
    width: 430px;
}
.eleven-half {
    width: 670px;
}
.thirteen-half {
    width: 800px;
}
ul.text-ul {
    margin-left: 20px;
}
.divider {
    border-left: #555555 dotted 1px;
}
#new-customer, #existing-customer {
    padding: 70px 20px 20px 100px;
}
#guest_checkout {
    padding: 70px 0;
}
#benefits {
    padding: 20px;
}
div#main-ad-image {
    position: relative;
    top: -15px;
    left: -10px;
}
div.error-page {
    text-align: center;
    margin-top: 100px;
}
div.error-page p.error-detail {
    font-size: 0.7em;
    color: #555555;
    margin-top: 100px;
}
.left {
    float: left;
}
.right {
    float: right;
}
#world-canvas {
    position: absolute;
    z-index: 10000;
    height: 600px;
    width: 305px;
}
body#body[data-hook="body"] #container.container .arrow {
    position: absolute;
    top: 350px;
    z-index: 10001;
    border-radius: 1000px;
    background: darkgrey;
    border: 1px solid lightgrey;
    width: 150px;
    height: 150px;
    opacity: 0.1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
body#body[data-hook="body"] #container.container .arrow:hover {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75;
}
li ul li {
    margin-left: 20px;
}
#back-arrow {

}
#forward-arrow {
    right: 0px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid grey;
    margin: auto;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid grey;
    margin: auto;
}
#main-ad-image {
    height: 500px;
}
#main-ad-image img {
    position: absolute;
}
div#main-ad-image img.sliding {
    z-index: 100;
}
#main-ad-image img.active {
    z-index: 99;
}
img.main1 {
    z-index: 30;
}
img.main2 {
    z-index: 29;
}
img.main3 {
    z-index: 28;
}
img.main4 {
    z-index: 27;
}
img.main5 {
    z-index: 26;
}
img.main6 {
    z-index: 25;
}
img.main7 {
    z-index: 24;
}
img.main8 {
    z-index: 23;
}
img.main9 {
    z-index: 22;
}
img.main10 {
    z-index: 21;
}
img.main11 {
    z-index: 20;
}
img.main12 {
    z-index: 19;
}
img.main13 {
    z-index: 18;
}
img.main14 {
    z-index: 17;
}
img.main15 {
    z-index: 16;
}
img.main16 {
    z-index: 15;
}
img.main17 {
    z-index: 14;
}
img.main18 {
    z-index: 13;
}
img.main19 {
    z-index: 12;
}
img.main20 {
    z-index: 11;
}
