::selection {
  background: #F52121;
  color: white;
  text-shadow: none;
}
::-moz-selection {
  background: #F52121;
  color: white;
  text-shadow: none;
}
body#body[data-hook="body"] {
  div#container.container {
      width: 1200px;
      border-right: 1px solid #aaaaaa;
      border-left: 1px solid #aaaaaa;
  }
  select#taxon {
      display: none;
  }
  a, ul#products li a.info {
      color: #c31621;
  }
  ul#products li a.info:visited {
    color: #942b71;
  }
  a:hover, a:visited:hover {
      color: #74141b;
  }
  a:visited {
      color: #c31621;
  }
  div#container.container #main-content, ul#products li.products {
      color: #444545;
  }
  input[type="submit"], input[type="button"],
  input[type="reset"], button, a.button {
      background-color: #F52121;
      color: #FFF;
  }
  input[type="submit"]:hover, input[type="button"]:hover,
  input[type="reset"]:hover, button:hover, a.button:hover {
      background-color: #919191;
  }
  div#search input[type="search"]:focus {
      border: 1px solid #F52121;
  }
  div#search #keywords {
    width: 145px;
  }
  div#main-content, div.main {
    table th:first-child, table tr:first-child td, table td:first-child, table thead th, table th, table td {
      border-left: 1px solid #F52121;
      border-top: 1px solid #F52121;
      border-right: 1px solid #F52121;
      border-bottom: 1px solid #F52121;
      background-color: #fff;
    }
    #shipping_method .stock-location {
      background-color: #F52121;
      color: #fff;
    }
    img, a {
      border: none;
    }
    input {
      font-size: 12px;
    }
    label, input, span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total, input[type="text"], .select2-search input, .select2-container-multi .select2-choices, input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], input[type="time"], input[type="url"], input[type="number"], input[type="tel"], textarea, fieldset, #shipping_method .shipping-methods .shipping-method label .rate-cost {
      color: #F52121;
    }
    #use_billing {
      display: inline;
    }
    .inner {
      margin-left: 90px;
    }
    #shipping {
      width: 450px;
    }
    .field.checkbox {
      min-height: 0;
    }
    .progress-steps li.current-first, .progress-steps li.current, .progress-steps li.completed-first:hover, .progress-steps li.completed:hover {
      background-color: #F52121;
      color: #fff;
    }
    #billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend {
      color: #F52121;
    }
    .form-buttons {
      text-align: right;
    }
    table#cart-detail tbody#line_items tr td[data-hook="cart_item_quantity"] .line_item_quantity {
      width: 60px;
    }
    #sidebar_products_search .filter-title, .taxonomy-root {
      color: #F52121;
      border: 1px solid #F52121;
      padding: 3px;
      border-radius: 2px;
    }
    input[type=button], input[type=submit] {
      color: #FFF;
    }
    #product-thumbnails li:hover, #product-thumbnails li.selected, ul#products li .product-image:hover, textarea:active, textarea:focus, input[type="date"]:active, input[type="date"]:focus, input[type="datetime"]:active, input[type="datetime"]:focus, input[type="datetime-local"]:active, input[type="datetime-local"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="month"]:active, input[type="month"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="search"]:active, input[type="search"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="text"]:active, input[type="text"]:focus, input[type="time"]:active, input[type="time"]:focus, input[type="url"]:active, input[type="url"]:focus, input[type="week"]:active, input[type="week"]:focus {
      border-color: #F52121;
    }
    .pagination .page.current {
      background-color: #F52121;
    }
    #social-signin-links {
      clear: both;
    }
    #breadcrumbs {
      width: 930px;
    }
    .product-show-filter {
      float: right;
      width: 220px;
      margin-top: 10px;
    }
    ul.filter_choices, ul.taxons-list {
      list-style: none;
      li {
        label, a {
          cursor: pointer;
          color: #656565;
          display: block;
          height: 20px;
          margin-bottom: 0px;
          text-align: right;
        }
        input[type="checkbox"] {
          float: left;
          clear: both;
          margin: 3px 5px;
        }
        margin: 5px 0;
        padding: 3px;
        border: 1px solid #b5b5b5;
        border-radius: 2px;
      }
      li.current, li.current:hover {
        background-color: #F52121;
        label, a {
          color: #FFF;
        }
      }
      li:hover {
        background-color: #909090;
        label, a {
          color: #FFF;
        }
      }
    }
    #sidebar input[type="checkbox"] {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    .product-show-filter {
      display: none;
    }
    .small {
        font-size: 1.3em;
    }
  }
  .flash {
    position: static;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .flash.notice {
    background-color: #F52121;
  }
  .flash.success {
    background-color: #F52121;
  }
}